<div class="container">
    <img class="icon" src="/public/assets/image/Burger_PNG_Clip_Art_Image (1).png" style="width: 20vw;">
    <h1>Eat-Da-Burger!</h1>
</div>

<div>
    <form>
        <div class="form-group">
            <label for="input">Password</label>
            <input type="input" class="form-control" id="input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <p>Enter a burger you want to eat and click the "Submit" button</p>
    </form>
</div>